h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.card-img-left {
    width: 25%;
    margin-right: 10px;
    border-radius: 1px;
    float: left;
}

nav::after {
    border-bottom: 1px solid blue;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
}

body {
    background-color: #4d648d;
}

span {
    font-size: 24px;
}
* {
  margin: 0;
  padding: 0;
}
.content {
  min-height: calc(100vh - 70px);
}
.footer {
 height: 131px;
}

.btn-favorite {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
    font-size: 25px;
}

.btn-favorite:hover {
    text-decoration: none;
}

.delete-ad {
    position: absolute;
    right: 50px;
    bottom: 5px;
}

@media (orientation: portrait) {
    span {
        font-size: 12px;
    }
}
.profile-data {
    margin-bottom: 15px;
}

.delete-ad-profile {
    position: absolute;
    right: 5px;
    bottom: 5px;
}