{% extends "base.html" %}

{% block content %}
    <div class="card mb-3">
        <br>
        <span style="text-align: center;"><a href="/add/{{ add.id }}">{{ add.brand + ' ' + add.model }}</a></span>
        <br>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="max-height: 500px;" src="../{{ add.images }}/image_1.jpg" class="d-block w-100">
                </div>
                {% for i in range(1, count) %}
                    <div class="carousel-item">
                        <img style="max-height: 500px;" src="../{{ add.images }}/image_{{ i + 1 }}.jpg" class="d-block w-100">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
        </div>
        <br>
        <div class="card text-white bg-dark mb-3" style="width: 90%; align-self: center;">
            <div class="card-header">Характеристика</div>
            <div class="card-body">
                <p class="card-text">
                    <div class="container">
                        <div class="row">
                            <div class="col"><div class="card text-white bg-secondary mb-3">
                                <div class="card-header">Год</div>
                                <div class="card-body">
                                    <p class="card-text">{{ add.year }}</p>
                                </div>
                            </div></div>
                            <div class="col"><div class="card text-white bg-secondary mb-3">
                                <div class="card-header">Пробег</div>
                                <div class="card-body">
                                    <p class="card-text">{{ add.mileage }} км</p>
                                </div>
                            </div></div>
                            <div class="col"><div class="card text-white bg-secondary mb-3">
                                <div class="card-header">Двигатель</div>
                                <div class="card-body">
                                    <p class="card-text">{{ add.engine }}</p>
                                </div>
                            </div></div>
                            <div class="col"><div class="card text-white bg-secondary mb-3">
                                <div class="card-header">Мощность</div>
                                <div class="card-body">
                                    <p class="card-text">{{ add.power }} л.с.</p>
                                </div>
                            </div></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card text-white bg-secondary mb-3">
                                    <div class="card-header">Коробка</div>
                                    <div class="card-body">
                                        <p class="card-text">{{ add.transmission }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-secondary mb-3">
                                    <div class="card-header">Привод</div>
                                    <div class="card-body">
                                        <p class="card-text">{{ add.drive_unit }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-secondary mb-3">
                                    <div class="card-header">Руль</div>
                                    <div class="card-body">
                                        <p class="card-text">{{ add.steering_wheel }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-danger mb-3">
                                    <div class="card-header">Цена</div>
                                    <div class="card-body">
                                        <p class="card-text">{{ add.price }} &#x20bd;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-success mb-3">
                        <div class="card-header">Контакты владельца</div>
                        <div class="card-body">
                            <p class="card-text">Телефон: {{ user.phone }}<br>
                                                Email: {{ user.email }}
                            </p>
                        </div>
                    </div>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="width: 90%; align-self: center;">
            <div class="card-header">Комментарий владельца</div>
            <div class="card-body">
                <p class="card-text">{{ add.about }}</p>
            </div>
        </div>
    </div>
{% endblock %}