{% extends "base.html" %}

{% block content %}
    <div class="card mt-4">
        <h1 style="text-align: center;">Добавить объявление</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                <h3 style="margin-left: 2%">{{ form.brand.label }}</h3>
                {{ form.brand(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.brand.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.model.label }}</h3>
                {{ form.model(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.model.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.price.label }}</h3>
                {{ form.price(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.price.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.transmission.label }}</h3>
                {{ form.transmission(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.transmission.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.engine.label }}</h3>
                {{ form.engine(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.engine.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.steering_wheel.label }}</h3>
                {{ form.steering_wheel(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.steering_wheel.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.power.label }}</h3>
                {{ form.power(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.power.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.drive_unit.label }}</h3>
                {{ form.drive_unit(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.drive_unit.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.mileage.label }}</h3>
                {{ form.mileage(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.mileage.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.year.label }}</h3>
                {{ form.year(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.year.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                <h3 style="margin-left: 2%">{{ form.about.label }}</h3>
                {{ form.about(class="form-control", style="width: 96%; margin-left: 2%; margin-right: 2%;") }}
                {% for error in form.about.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <input type="file" class="form-control-file ml-4" id="files" name="file" accept="image/*" multiple /></br>
            <div class="container"><div class="row row-cols-2" id="list"></div></div>
            <p style="margin-left: 2%;">{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
        </form>
    </div>
    <div style="height: 30px;"></div>
{% endblock %}