<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2">
    <title>ГусьМобиль.РФ</title>
    {% block main %}
    {% endblock %}
</head>
<body style="background-color: #10141D;">
<div class="wrapper">
    <div class="content">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="/">ГусьМобиль.РФ</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
                <a class="mr-auto"></a>
                <p class="mt-1 mb-1">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-light mr-2 mt-1 mb-1" href="/add_ad"> Добавить
                            объявление </a>
                    {% else %}
                        <a class="btn btn-light mr-2 mt-1 mb-1" href="/error"> Добавить
                            объявление </a>
                    {% endif %}
                </p>
                <p class="mt-1 mb-1">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-light mr-2 mt-1 mb-1" href="/favorite">Избранные</a>
                    {% else %}
                        <a class="btn btn-light mr-2 mt-1 mb-1" href="/error">Избранные</a>
                    {% endif %}
                </p>
                {% if not current_user.is_authenticated %}
                    <p class="mt-1 mb-1">
                        <a class="btn btn-primary mr-2" href="/login"> Войти </a>
                    </p>
                    <p class="mt-1 mb-1">
                        <a class="btn btn-primary" href="/register"> Зарегистрироваться </a>
                    </p>
                {% else %}
                    <p class="mt-1 mb-1">
                        <a class="btn btn-dark" href="/profile"> Личный кабинет </a>
                    </p>
                {% endif %}
            </div>
        </nav>
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/script1.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"></script>
<div class="footer" style="background-color: #f1f1f1;">
    <div class="container p-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">О нас</h5>
                <p>
                    Молодая
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Данил Ковалёв</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://vk.com/dk_homie" class="text-dark">Vk</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/eto_zhe_danil/" class="text-dark">Instagram</a>
                    </li>
                    <li>
                        <a href="mailto:danil.kovaleow@yandex.ru" class="text-dark">Mail</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Томас Люгге</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://vk.com/senseei" class="text-dark">Vk</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/mugivara._/"
                           class="text-dark">Instagram</a>
                    </li>
                    <li>
                        <a href="mailto:tomkamkad@gmail.com" class="text-dark">Mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center text-white p-3" style="background-color: rgba(130, 130, 130);">
        © 2021 Copyright:
        <a class="text-white" href="/">ГусьМобиль.РФ</a>
    </div>
</div>
</body>
</html>