{% extends "base.html" %}

{% block content %}
{% if favorites %}
{% for elem in favorites %}
<div class="card mb-3">
    <div>
        <img class="card-img-left" src="{{elem.images}}/image_1.jpg">
        <div>
            <span style="float: left"><a href="/add/{{ elem.id }}">{{ elem.brand + ' ' + elem.model }}</a></span>
            <span style="float: right; margin-top: 2px;margin-right: 5px; text-align:right">{{ elem.price }} &#x20bd;</span>
        </div>
        <a class="btn-favorite" href="/del_to_favorite/{{ elem.id }}/0">&#10084;</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="card mt-4 mb-4">
    <h1 class="bg-white" align="center">У вас нет избранных...</h1>
    <div align="center">
        <img style="max-width:70%" src="static/img/2.png">
    </div>
</div>
{% endif %}
{% endblock %}