{% extends "base.html" %}

{% block content %}
<div>
    {% for elem in ads %}
    <div class="card mb-3">
        <div>
            <img class="card-img-left" src="/static/{{elem.images}}/image_1.jpg">
            <div>
                <span style="float: left"><a href="#">{{ elem.brand + ' ' + elem.model }}</a></span>
                <span style="float: right; margin-top: 2px;margin-right: 5px; text-align:right">{{ elem.price }} &#x20bd;</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}