{% extends "base.html" %}

{% block content %}
<div>
    {% for elem in ads %}
    <div class="card mb-3">
        <div>
            <img class="card-img-left" src="{{elem.images}}/image_1.jpg">
            <div>
                <span style="float: left"><a href="/add/{{ elem.id }}">{{ elem.brand + ' ' + elem.model }}</a></span>
                <span style="float: right; margin-top: 2px;margin-right: 5px; text-align:right">{{ elem.price }} &#x20bd;</span>
            </div>
            {% if favorite %}
            {% for el in favorite %}
            {% if elem.id == el.ad_id %}
            <a class="btn btn-favorite" style="width: 35px; height: 35px;"
               href="/del_to_favorite/{{ elem.id }}">&#10084;</a>
            {% else %}
            <a class="btn btn-favorite" style="width: 25px; height: 25px;"
               href="/add_to_favorite/{{ elem.id }}">&#129293;</a>
            {% endif %}
            {% endfor %}
            {% else %}
            <a class="btn btn-favorite" style="width: 25px; height: 25px;"
               href="/add_to_favorite/{{ elem.id }}">&#129293;</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}